.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.stock {
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stocks-container {
  color: black;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
}

hr.single {
  border-top: 3px solid;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.good {
  color: green;
}

.bad {
  color: red;
}

.bottomright {
  position: absolute;
  bottom: 0;
  right: 0;
}

.pic {
  float: left;
  border-radius: 50%;
  max-width: 20%;
  height: auto;
}

.middle {
  float: center;
  min-width: 0;
}

.right {
  float: right;
  min-width: 0;
}
