.App {
  text-align: center;
}

.stock {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid RGB(242, 242, 242);
  margin: 0;
  padding: 0;
}

.stocks-container {
  color: black;
}

.App-header {
  background-color: #3966fb;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.good:before {
  content: "↑";
}
.good {
  color: green;
}
.bad:before {
  content: "↓";
}
.bad {
  color: red;
}

.good1 {
  color: green;
}

.bad1 {
  color: red;
}

.pic {
  border-radius: 50%;
  width: auto;
  height: auto;
}

.middle {
  width: 200px;
  height: auto;
}

.middleC {
  color: gray;
  white-space: nowrap;
}

.right {
  width: auto;
  height: auto;
}

.right1 {
  flex-direction: column;
  align-items: center;
}

.right2 {
  flex-direction: column;
  align-items: center;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #36d1dc 0%,
    #5b86e5 51%,
    #36d1dc 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
